.button {
    padding: 10px 15px;
    background-color: var(--secondary);
    color: var(--card-color);
    border-radius: 4px;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: var(--primary);
        cursor: pointer;
    }
}